.nft__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 4rem;
}

.nft__navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nft__navbar-links_logo {
  margin-right: 5rem;
}

.nft__navbar-links_logo img {
  width: 100%;
  height: 80px;
  transition: transform 0.5s ease;
}

.nft__navbar-links_logo img:hover {
  transform: scale(0.95);
}
.nft__navbar-links_container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
  gap: 4rem;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;

  margin: 0 1rem;
  cursor: pointer;
  transition: text-decoration 0.2s ease;
}
.nft__navbar-links_container a {
  position: relative;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25px;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nft__navbar-links_container a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nft__navbar-links_container a:hover::after,
.nft__navbar-links_container a:focus::after {
  width: 100%;
}

.nft__navbar-links_container a:hover,
.nft__navbar-links_container a:focus {
  color: #e43f1a;
}
.nft__navbar-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
/**/
.nft__navbar-button button,
.nft__navbar-menu_container button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: #ff4820;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.4s ease, transform 0.2s ease;
  position: relative;
  overflow: hidden;
}

.nft__navbar-button button::after,
.nft__navbar-menu_container button::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background: white;
  transition: width 0.4s ease, left 0.4s ease;
}

.nft__navbar-button button:hover::after,
.nft__navbar-menu_container button:hover::after {
  width: 100%;
  left: 0;
}

.nft__navbar-button button:hover,
.nft__navbar-menu_container button:hover {
  background: #e43f1a;
  transform: scale(1.05);
}

.nft__navbar-menu {
  margin-left: 1rem;

  display: none;
  position: relative;
}

.nft__navbar-menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  gap: 10px;
  color: white;
  opacity: 1;
  text-align: end;
  background: rgb(46, 36, 36);
  padding: 2rem;
  position: absolute;
  right: 0;
  top: 40px;
  margin-top: 1rem;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(247, 247, 247, 0.2);
}

.gpt3__navbar-menu_container-links-buynow {
  display: none;
}

@media screen and (max-width: 1050px) {
  .nft__navbar-links_container {
    display: none;
  }

  .nft__navbar-menu {
    display: flex;
  }
}

@media screen and (max-width: 700px) {
  .nft__navbar {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 550px) {
  .nft__navbar {
    padding: 2rem;
  }

  .nft__navbar-button {
    display: none;
  }

  .nft__navbar-menu_container {
    top: 20px;
  }

  .nft__navbar-menu_container-links-buynow {
    display: block;
  }
}
